.home-section {
  min-height: 100vh;
  background-image: url("https://t4.ftcdn.net/jpg/02/88/65/45/360_F_288654557_h0hiDv7cdEkdfKOIeF9wrSk4P6YH4ZMc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}